
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KanBan</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/tl2_tp10_2023_TomasDLV.styles.css" asp-append-version="true" />
</head>

<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <!-- Logo y "Boards" a la izquierda -->
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="ruta/al/logo.png" height="30" alt="Logo">




                </a>
                <a asp-controller="Tablero" asp-action="Index">Tableros</a>
                <!-- Opciones "Login", "Sign up" y "Logout" a la derecha -->
                <div class="d-flex align-items-center ms-auto">

                    <form method="post" asp-controller="Login" asp-action="Logout" class="me-3">
                        <button type="submit" class="btn btn-link nav-link">Cerrar Sesión</button>
                    </form>


                </div>
            </div>
        </nav>




    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - tl2_tp10_2023_TomasDLV - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
