@{

    var userCheck = Context.Items["UserCheck"] as UserCheck;

}
@using tl2_proyecto_TomasDLV.Repositorios;

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KanBan</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/tl2_tp10_2023_TomasDLV.styles.css" asp-append-version="true" />
    <style>

    </style>
</head>

<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <!-- Logo  -->
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/assets/img/logo.png" height="50" alt="Logo">
                </a>
                <!-- Opciones Tablero,Usuarios  -->
                <a class="nav-link" asp-controller="Tablero" asp-action="Index"
                    style="color: white; font-weight: bold;">Tableros</a>

                @if (userCheck.IsAdmin())
                {
                    <a class="nav-link" asp-controller="Usuario" asp-action="Index"
                        style="color: white; font-weight: bold;">Gestion Usuarios</a>
                }
                <div class="d-flex align-items-center ms-auto">
                    <!-- Nombre de usuario como enlace -->
                    <a asp-controller="Usuario" asp-action="editUser" asp-route-id="@userCheck.LoggedUserId()"class="nav-link"
                        style="color: white; font-weight: bold;">
                        @userCheck.LoggedUserName()
                    </a>

                    <!-- Barra separadora -->
                    <span style="color: white;">|</span>

                    <!-- Botón de cerrar sesión -->
                    <form method="post" asp-controller="Login" asp-action="Logout" class="me-3">
                        <button type="submit" class="btn btn-link nav-link"
                            style="color: white; font-weight: bold;">Cerrar Sesión</button>
                    </form>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container" style="color: white;">
            &copy; Copyright 2023 - TomasDLV
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
