@{
    ViewData["Title"] = "Home Page";
}

<div class="container py-5">
    <header class="text-center">
        <h1 class="display-4 text-purple border-bottom border-3 border-purple pb-3" class="fontMonserrat">Bienvenido a tu página Kanban</h1>
        <p class="lead">Optimiza y mejora continuamente tu proceso de trabajo con nuestros tableros personalizados.</p>
    </header>

    <main>
        <section id="introduction" class="my-5">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-center mb-4 text-purple border-bottom border-3 border-purple pb-2">¿Qué es un tablero Kanban?</h2>
                    <p>Un tablero Kanban es una herramienta visual que ofrece una visión general del estado actual del trabajo y
                        simplifica la comunicación del equipo. Consiste en notas individuales colocadas en columnas en un tablero
                        grande, representando el flujo de valor en un proceso de trabajo específico.</p>
                    <!-- Add more information about Kanban boards here -->
                </div>
            </div>
        </section>

        <section id="benefits" class="my-5">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-center mb-4 text-purple border-bottom border-3 border-purple pb-2">Beneficios de usar tableros Kanban</h2>
                    <p>Aumenta la productividad, elimina el caos en tu lugar de trabajo, y mejora el flujo de trabajo.</p>
                    <!-- Add more benefits here -->
                </div>
            </div>
        </section>

        <section id="how-to-use" class="my-5">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-center mb-4 text-purple border-bottom border-3 border-purple pb-2">Cómo usar nuestros tableros personalizados</h2>
                    <p>Crea un tablero, divide tu flujo de trabajo en columnas, y asigna tarjetas de colores diferentes a los
                        distintos tipos de tareas.</p>
                    <!-- Add more instructions here -->
                </div>
            </div>
        </section>
    </main>
</div>
