body[b-coidjibyfk] {
  background-color: #fff;
  padding-bottom: 60px; /* Altura del footer */
}

.navbar[b-coidjibyfk] {
  background: linear-gradient(to right, #800080, #FF69B4);
}

.navbar-brand[b-coidjibyfk] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: white;
}

.navbar-nav .nav-link[b-coidjibyfk] {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar-nav .nav-link:focus[b-coidjibyfk], .navbar-nav .nav-link:hover[b-coidjibyfk] {
  color: rgba(255, 255, 255, 0.8);
}

.btn-primary[b-coidjibyfk] {
  color: #fff;
  background-color: #800080;
  border-color: #800080;
}

.btn-primary:hover[b-coidjibyfk] {
  background-color: #FF69B4;
  border-color: #FF69B4;
}

.border-top[b-coidjibyfk] {
  border-top: 1px solid #e5e5e5;
}

.border-bottom[b-coidjibyfk] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-coidjibyfk] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.footer[b-coidjibyfk] {
  position: fixed;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
