
@using tl2_tp09_2023_TomasDLV.Models;
@model Usuario
@{ 
    ViewData["Title"] = "Crear Usuario";
}



<h1>@ViewData["Title"]</h1>
<form asp-controller="Usuario" asp-action="createUser" method="post">
    
    <div class="form-group">
        <label asp-for="@Model.Nombre_de_usuario"></label>
        <input asp-for="@Model.Nombre_de_usuario" class="form-control" id="nombre" />
    </div>
    <button type="submit" class="btn btn-primary" >Enviar</button>
</form>